.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.row {
  display: flex;
}

.grid {
  margin-top: 20px;
}
.square-full {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  border: 0.5px solid #CDCDCD;
}
.square-ke-ngang {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  border-top: 0.5px solid #CDCDCD;
  border-bottom: 0.5px solid #CDCDCD;
}
.square-ke-ngang:first-child {
  border-left: 1px solid #CDCDCD;
}

.square-ke-ngang:last-child {
  border-right: 1px solid #CDCDCD;
}

.square:nth-child(n+2):nth-last-child(n+2) {
  border-left: none;
  border-right: none;
}

.react-resizable-handle {
  display: none !important;
}
