.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.row {
  display: flex;
}
.print-button {
  margin-left: 10px;
}
.grid {
  margin-top: 20px;
}
.group-button {
  display : flex;

}
.square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  border: 1px solid #CDCDCD;
}

.react-resizable-handle {
  display: none !important;
}
@media print {
  .group-button {
    display: none!important;
  }
  @page {
    margin: 0!important;
    padding: 0!important;
  }
}
